header{
    background-color: #102E9E;
}
.header_content .header_logo{
    width: 70px;
}
.header_content .hospital_logo h2{
    display: inline-block;
    color: white;
    text-align: left;
    margin-left: 5px;
}
.header_content{
    display: flex;
    justify-content: space-between;
    text-align: center;
    padding: 16px 0;
    color: white;
}

.header_content .logo_list ul{
    list-style: none;
    
}
.header_content .logo_list li{
    display: inline-block;
    margin: 0px 10px;
}
.header_content .logo_list li a{
    text-decoration: none;
    color: white;
    font-size: 15px;
}
.header_content .logo_list{
    /* line-height: calc(111 / 16); */
    padding: 10px 0;
}
.header_content .logo_list__location a{
    color: #FFDF5F;
    text-decoration: none;
    display: inline-block;
    padding-bottom: 16px;
}
.header_content .logo_list ul i{
    color: #7CC5EA;
}

/* END HEADER */

/* NAV START */
.list{
    margin: 10px;
}
.list ul{
    display: flex;
    justify-content: space-around;
    list-style: none;
    /* padding: 10px 0; */
    /* line-height: 1.42857143; */
}
.list ul a{
    text-decoration: none;
    text-transform: uppercase;
    font-size: 16px;
    color: #337ab7;
    padding: 10px 20px;
}
.list ul a:hover{
    color: #23527c;
    background-color: #eee;
}
.list ul li{
    height: 100%;
    display: inline-block;
}
/* END NAV */

/* CAROUSEL */
.carousel .slick img{
    height: 70vh;

}
.carousel{
    margin-bottom: 3px;
}
/* END CAROUSEL */
/* ACHIEVEMENT */
.achievement{
    background-color: #eee;
    margin-bottom: 16px;
}
.achievement .achievement_content{
    display: flex;
    justify-content: center;
    /* text-align: center; */
    align-items: center;
    padding: 30px 0;
}
.achievement .achievement_text{
    padding-right: 10px;
}
.achievement .achievement_text h2{
    color: #1691E2;
    font-size: 24px;
    margin-bottom: 10px;
    text-transform: uppercase;
    line-height: 1.3;
    font-weight: normal;
}
.achievement .achievement_text p{
    font-size: 15px;
    text-align: justify;
    color: #686868;
}
/* END ACHIEVEMENT */

/* VALUES */
.values .value_title{
    text-align: center;
    position:relative;
}
.values .value_title h2{
    position: relative;
    color: #1691E2;
    text-transform: uppercase;
    font-size: 24px;
    font-weight: normal;
}
.values .value_title::after{
    content:"";
    /* display: block; */
    height: 1px;
    position: absolute;
    bottom: -16px;
    left:calc(50% - 35px);
    border-bottom: 5px solid #5D5D5D;
    width: 70px;
}
.values_content{
    display: flex;
    justify-content: center;
    padding: 70px 0 50px;
}
.values_content .values_item_detail{
    text-align:center;
    background-color: white;
}
.values_item{
    border-radius: 35px 35px 0 35px;
    padding: 10px;
    background: #E9E9E9;
    position: relative;
    overflow: hidden;
    width: 19%;
    margin: 0 0.5%;
}
.values .item_white{
    border-radius: 35px 35px 0 35px;
    padding: 10px;
    height: 100%;
    position: relative;
}
.values_item::before{
    position: absolute;
        width: 55px;
        height: 55px;
        content: "";
        background: url("../img/bg_border.png") no-repeat;
        background-size: auto;
        background-size: auto;
        background-size: 140% auto;
        left: 0;
        top: 0;
}
.values .values_item a{
    text-decoration: none;
    color: black;
}
.values .values_item{
    padding: 10px;
}
.values .values_content .item{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.values .item:after{
    content:"";
    height: 0;
    width: 10px;
    background-color: #FFD658;
    position: absolute;
    top: 0;
    right: 0;
    transition: all 0.5s;
}
.values .item:hover:after{
    height: 100%;
}
/* END VALUES */
/* INFOR_EMPLOYER */
.infor_employer{
    margin-bottom: 40px;
}
.infor_employer .infor_title h2{
    position: relative;
    display: inline-block;
    color: #1691E2;
    font-weight: normal;
}
.infor_employer .infor_title h2::after{
    content: "";
        /* display: block; */
    height: 1px;
    position: absolute;
    bottom: -16px;
    /* left: calc(50% - 35px); */
    left: 0;
    border-bottom: 5px solid #5D5D5D;
    width: 70px;
    padding-bottom: 10px;
}
.infor_employer .infor_title p{
    margin: 25px 0 35px;
}
.main_infor{
    display: flex;
    justify-content: space-between;
    text-align: center;
    align-items: center;
}
.main_infor .main_infor_detail{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 150px;
    width: calc(25% - 14px);
    margin-left: 7px;
    margin-right: 7px;
    box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.35);
    min-height: 140px;

}
.main_infor_detail h2{
    color: #1691E2;
    font-size: 40px;
    font-weight: normal;
}
.main_infor_detail p{
    font-size: 15px;
    text-transform: uppercase;
}
.infor_employer .view{
    text-align: center;
}
.infor_employer .view_expert{
    padding: 10px 30px;
    font-size: 24px;
    background-color: #1691E2;
    text-align: center;
    display: inline-block;
    margin-top: 20px;
    text-decoration: none;
    color: white;
}
.infor_employer .view_expert:hover{
    opacity: 0.8;
}
/* END INFOR_IMPLOYER */

/* EQUIPMENT */
.modern_equipment{
    /* background-color: #1691E2; */
    margin-bottom: 20px;
}
.equipment_title{
    width: 1140px;
    margin: 0 auto;
}
.modern_equipment .equipment_title h2 {
    position: relative;
    display: inline-block;
    color: #1691E2;
    font-weight: normal;
}

.modern_equipment .equipment_title h2::after {
    content: "";
    /* display: block; */
    height: 1px;
    position: absolute;
    bottom: -16px;
    /* left: calc(50% - 35px); */
    left: 0;
    border-bottom: 5px solid #5D5D5D;
    width: 70px;
    padding-bottom: 10px;
}

.modern_equipment .equipment_title p {
    margin: 25px 0 35px;
}
.equipment__container{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    row-gap: 10px;
    column-gap: 10px;
    width: 1140px;
    margin: 0 auto;
}
.equipment__container .equipment__item{
    height: 250px;
}
.equipment__container .equipment__item img{
    width: 100%;
    height: 100%;
    
}
.sub__wrapper{
    background-color: #1691E2;
}
.equipment__container{
    background-color: white;
    padding: 0 3px;
}
/* END EQUIPMENT */

/* EFFECTIVE_THERAPY */
.effective_therapy .effective_therapy_title h2 {
    position: relative;
    display: inline-block;
    color: #1691E2;
    font-weight: normal;
}

.effective_therapy .effective_therapy_title h2::after {
    content: "";
    /* display: block; */
    height: 1px;
    position: absolute;
    bottom: -16px;
    /* left: calc(50% - 35px); */
    left: 0;
    border-bottom: 5px solid #5D5D5D;
    width: 70px;
    padding-bottom: 10px;
}

.effective_therapy .effective_therapy_title p {
    margin: 25px 0 35px;
}
/* END EFFECTIVE_THERAPY */